<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'projects_m/style.css' %}">
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <hr>

    <h3>Or login with:</h3>
    <a href="{% provider_login_url 'google' %}">Login with Google</a><br>
    <a href="{% provider_login_url 'facebook' %}">Login with Facebook</a>

</body>
</html>
